body{
  margin-top: 5mm;
  margin-bottom: 5mm;
}

/* Espaço do começo do conteúdo: adicionar tamanho da nav-bar */
/* https://stackoverflow.com/questions/71422815/fixed-navbar-hiding-page-content/71423032#71423032 */
.margemSuperior {
/*  margin-top: 8px;*/
  padding-top: 62px;
}

/* TABELA */

/* Linha do cabeçalho da tabela */
table thead{
  /* border-bottom: 1px solid #000000;*/
  border-bottom: 1px solid #dee2e6;
}

/* Espaço após a linha do cabeçalho */
/* https://stackoverflow.com/questions/14735569/css-double-border-2-colors-without-using-outline/14735816#14735816 */
table tbody:before{
  content: "";
  display: block;
  /* Debug */
  /* border-bottom: 4px solid #36F; */
  border-bottom: 4px solid transparent;
}

/* Linha do rodapé da tabela */
table tfoot{
  border-top: 1px solid #dee2e6 !important;
  /* border-bottom: 1px solid #000000; */
}

/* Espaço antes da linha do rodapé */
table tbody:after{
  content: "";
  display: block;
  /* Debug */
  /* border-bottom: 4px solid #36F; */
  border-bottom: 4px solid transparent;
}


/* Estilo do Reoder Table (table.js) */
/* https://bootsnipp.com/snippets/Pa5Wr */
.ui-sortable tr {
/*  cursor: pointer;*/
/*  cursor: ns-resize;*/
  cursor: grab;
}
.ui-sortable tr:active {
  cursor: grabbing;
}
.ui-sortable tr:hover {
  /* background:rgba(244,251,17,0.45);*/
  background:rgba(108, 117, 125, 0.4);
}

/* Coluna dos botões na tabela */
.col-botoes {
  width: 90px;
  text-align:center;
  vertical-align:middle;
  white-space: nowrap;
}

/* Coluna valor */
.col-valor {
  width: 131px;
  text-align: right;
}

/* Botão Deletar */
.btn-outline-danger {
  /* Modificado da classe original */
  border: 0;
}
.btn-delete {
  /* Classe usada pelo script 'table.js' para deletar */
  /* Ajustar a centralização do ícone no botão */
  /* Tamanhos diferentes pois o desenho do ícone não é centralizado */
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.i-delete {
  display: flex;
}

/* Botão Selecionar */
.btn-selecao {
  cursor: pointer;
  /* border: 2px solid #6c757d;*/
  border: 1px solid #212529;
  width: 16px;
  height: 16px;
}
.div-selecao {
  display: inline-flex;
  vertical-align: middle;
}

/* Botão Reordenar */
.reordenar {
/*  pointer-events: none;*/
  vertical-align: middle;
  display: inline-flex;
/*  border: 1px solid red;*/
}
.reordenar:hover {
  color: #0d6efd !important;
}
/*.ui-sortable tr:active .reordenar {
  color: #0d6efd !important;
}*/

/* Botão Adicionar */
button.adicionar {
  font-size: 1.5rem;
}

/* Tabela no estilo excel */
/*td input {border: 0 !important; border-radius: 0 !important; min-height: 100%;}
td {margin: 0 !important; padding: 0 !important;}*/


/* LABEL DO INPUT */

/* Cor do label não selecionado */
/* Configurada a mesma do selecionado */
.form-floating>label {
  color: rgba(33, 37, 41, .65);
}
/* Fundo do label selecionado transparente */
/* Selecionar o texto do input não gera desnível na cor da seleção */
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
  background-color: transparent;
}

/* Legenda do input na borda superior */
/* https://stackoverflow.com/questions/71688886/bootstrap-5-floating-label-on-top-of-the-field */
/* https://stackoverflow.com/questions/70928805/floating-form-labels-overlapping-with-form-input-in-bootstrap */
/*.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: .65;
  transform: scale(.85) translateY(-2rem) translateX(.15rem);
}*/

/* Borda do botão de seleção dos inputs */
/* https://stackoverflow.com/questions/33696979/dropdown-button-in-input-group-btn-is-cut-off-on-right-border/33697982#33697982 */
/* Classes: .btn.dropdown-toggle.dropdown-toggle-split */
.botaoGrupoInput {
/*  background-color: #eee;*/
  border: 1px solid #dee2e6;
}
/*.botaoGrupoInput:hover, .botaoGrupoInput:focus {
  border: 1px solid #6c757d;
}*/

/* Inputs dos números */
.input-numero {
  /* Adiciona espaçamento entre números: interfere no placeholder (usado no DEJT e no CNIB) */
  letter-spacing: 0.05em;
}

/* AUXILIAR DE MINUTA */

/* Tabela: Célula cabeçalho valor */
.col-modal-valor {
  text-align: right;
}
/* Tabela: Célula cabeçalho tipo */
.col-sel-tipo {
  text-align: center;
}
/* Tabela: Coluna inteira de valores */
#minuta-table tr td:nth-child(2) {
  text-align: right;
}
/* Ícone copiar */
.copiar-icon {
  cursor: pointer;
}

